    @*@Model PagedList.IPagedList<Products></Products>*@
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var details = ViewBag.details;
    }

    <style>
        .star-rating {
            display: inline-block;
            direction: rtl;
        }

            .star-rating input {
                display: none;
            }

            .star-rating label {
                color: #ccc;
                font-size: 24px;
                padding: 0 2px;
                cursor: pointer;
            }

                .star-rating label:before {
                    content: '\2605';
                }

            .star-rating input:checked ~ label {
                color: #ffc107; /* Change to desired color for selected star */
            }
    </style>

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@details.Name</li>
                </ol>


            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->


        <form action="/Checkout/CartAdd/" method="post">
            <input type="hidden" value="@details.Id" name="Id" />
            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6" style="text-align:center;">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="~/UploadedFiles/@details.Image" data-zoom-image="~/UploadedFiles/@details.Image" alt="product image">

                                            <a href="~/UploadedFiles/@details.Image" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="~/UploadedFiles/@details.Image" data-zoom-image="~/UploadedFiles/@details.Image">
                                                <img src="~/UploadedFiles/@details.Image" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" onclick="" href="~/UploadedFiles/@details.Image2" data-image="~/UploadedFiles/@details.Image2" data-zoom-image="~/UploadedFiles/@details.Image2">
                                                <img src="~/UploadedFiles/@details.Image2" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="~/UploadedFiles/@details.Image3" data-image="~/UploadedFiles/@details.Image3" data-zoom-image="~/UploadedFiles/@details.Image3">
                                                <img src="~/UploadedFiles/@details.Image3" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="~/UploadedFiles/@details.Image4" data-image="~/UploadedFiles/@details.Image4" data-zoom-image="~/UploadedFiles/@details.Image4">
                                                <img src="~/UploadedFiles/@details.Image4" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">@details.Name</h1><!-- End .product-title -->

                                    <!--<div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div>--><!-- End .ratings-val -->
                                        <!--</div>--><!-- End .ratings -->
                                        <!--<a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div>--><!-- End .rating-container -->



                                    <div class="product-price">
                                        Rs. @details.Price
                                    </div><!-- End .product-price -->
                                    <!--<div class="product-content">
                                        <p>@details.Description</p>
                                    </div>-->
                                    <!-- End .product-content -->
                                    <!--<div class="details-filter-row details-row-size">
                                    <label>Available Colors:</label>

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            Blue
                                        </a>
                                        <a href="#">
                                            Black
                                        </a>
                                    </div>-->
                                    <!-- End .product-nav -->
                                    <!--</div>--><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <div class="select-custom">
                                            <select name="Size" id="size" class="form-control">
                                                <option value="#" selected="selected">Select a size</option>
                                                <option value="s">Small</option>
                                                <option value="m">Medium</option>
                                                <option value="l">Large</option>
                                                <option value="xl">Extra Large</option>
                                            </select>
                                        </div><!-- End .select-custom -->
                                        @*<a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>*@
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" name="quantity" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->



                                    <div class="product-details-action">

                                        <input type="submit" class="btn-product btn-cart" value="Add to Cart" style="font-size:125%" />
                                        @*&nbsp;&nbsp;*@
                                        @*<input class="btn-product btn-cart" value="Add to Compare" style="font-size:125%" />*@
                                        <a href="#" class="btn-product btn-compare" title="Compare" style="font-size:200%"><span style="font-size:60%">Add to Compare</span></a>


                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">Women</a>,
                                            <a href="#">Dresses</a>
                                            @*<a href="#">Yellow</a>*@
                                        </div><!-- End .product-cat -->
                                        @*<div class="social-icons social-icons-sm">
                                                <span class="social-label">Share:</span>
                                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                            </div>*@
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->










                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                                </li>*@
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (@(ViewBag.reviewsCounts))</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>@details.Description</p>
                                    @*<ul>
                                            <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                            <li>Vivamus finibus vel mauris ut vehicula.</li>
                                            <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                        </ul>

                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>*@
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <!--<div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Information</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                    <h3>Fabric & care</h3>
                                    <ul>
                                        <li>Faux suede fabric</li>
                                        <li>Gold tone metal hoop handles.</li>
                                        <li>RI branding</li>
                                        <li>Snake print trim interior </li>
                                        <li>Adjustable cross body strap</li>
                                        <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                    </ul>

                                    <h3>Size</h3>
                                    <p>one size</p>
                                </div>-->
                            <!-- End .product-desc-content -->
                            <!--</div>--><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery & returns</h3>
                                    <p>
                                        We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                        We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
                                    </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews (@(ViewBag.reviewsCounts))</h3>


                                    <div class="review">
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <label>Name *</label>
                                                    <input type="text" name="ReviewerName" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Summary *</label>
                                                    <input type="text" name="ReviewSubject" class="form-control" required>
                                                </div>
                                            </div>



                                            <label>Review </label>
                                            <input type="text" name="ReviewText" class="form-control" required>
                                            <label>Give Ratings </label>
                                            <div class="star-rating">
                                                <input type="hidden" name="ProductId" value="@details.Id" />
                                                <input type="radio" name="Ratings" id="star5" value="5">
                                                <label for="star5"></label>
                                                <input type="radio" id="star4" name="Ratings" value="4">
                                                <label for="star4"></label>
                                                <input type="radio" id="star3" name="Ratings" value="3">
                                                <label for="star3"></label>
                                                <input type="radio" id="star2" name="Ratings" value="2">
                                                <label for="star2"></label>
                                                <input type="radio" id="star1" name="Ratings" value="1">
                                                <label for="star1"></label>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary-2 btn-order btn-block">

                                                <span class="btn-text">Submit</span>
                                                <span class="btn-hover-text">Add Review</span>
                                            </button>
                                        </form>
                                        @foreach (var item in ViewBag.reviews)
                                        {


                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">@item.ReviewerName</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: @((float)item.Ratings/5 * 100)%"></div><!-- End .ratings-val -->
                                                        </div>
                                                        <!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">@item.ReviewDate</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>@item.ReviewSubject</h4>

                                                    <div class="review-content">
                                                        <p> @item.ReviewText</p>
                                                    </div><!-- End .review-content -->
                                                    @*<div class="review-action">
                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                            </div>*@<!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        }
                                    </div><!-- End .review -->


                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->
                    <!--<div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                <ul>
                                    <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                    <li>Vivamus finibus vel mauris ut vehicula.</li>
                                    <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                            </div>-->
                    <!-- End .product-desc-content -->
                    <!--</div>--><!-- .End .tab-pane -->
                    <!--<div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                    <div class="product-desc-content">
                        <h3>Information</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                        <h3>Fabric & care</h3>
                        <ul>
                            <li>Faux suede fabric</li>
                            <li>Gold tone metal hoop handles.</li>
                            <li>RI branding</li>
                            <li>Snake print trim interior </li>
                            <li>Adjustable cross body strap</li>
                            <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                        </ul>

                        <h3>Size</h3>
                        <p>one size</p>
                    </div>-->
                    <!-- End .product-desc-content -->
                    <!--</div>--><!-- .End .tab-pane -->
                    <!--<div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                    <div class="product-desc-content">
                        <h3>Delivery & returns</h3>
                        <p>
                            We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
                        </p>
                    </div>-->
                    <!-- End .product-desc-content -->
                    <!--</div>--><!-- .End .tab-pane -->
                    <!--<div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                    <div class="reviews">
                        <h3>Reviews (2)</h3>
                        <div class="review">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <h4><a href="#">Samanta J.</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--</div>--><!-- End .rating-container -->
                    <!--<span class="review-date">6 days ago</span>
                    </div>-->
                    <!-- End .col -->
                    <!--<div class="col">
                    <h4>Good, perfect size</h4>

                    <div class="review-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                    </div>-->
                    <!-- End .review-content -->
                    <!--<div class="review-action">
                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                    </div>-->
                    <!-- End .review-action -->
                    <!--</div>--><!-- End .col-auto -->
                    <!--</div>--><!-- End .row -->
                    <!--</div>--><!-- End .review -->
                    <!--<div class="review">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <h4><a href="#">John Doe</a></h4>
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 100%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--</div>--><!-- End .rating-container -->
                    <!--<span class="review-date">5 days ago</span>
                    </div>-->
                    <!-- End .col -->
                    <!--<div class="col">
                    <h4>Very good</h4>

                    <div class="review-content">
                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                    </div>-->
                    <!-- End .review-content -->
                    <!--<div class="review-action">
                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                    </div>-->
                    <!-- End .review-action -->
                    <!--</div>--><!-- End .col-auto -->
                    <!--</div>--><!-- End .row -->
                    <!--</div>--><!-- End .review -->
                    <!--</div>--><!-- End .reviews -->
                    <!--</div>--><!-- .End .tab-pane -->
                    <!--</div>--><!-- End .tab-content -->
                    <!--</div>--><!-- End .product-details-tab -->
                    <!--<h2 class="title text-center mb-4">You May Also Like</h2>--><!-- End .title text-center -->
                    <!--<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":1
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-new">New</span>
                            <a href="product.html">
                                <img src="assets/images/products/product-4.jpg" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                            </div>-->
                    <!-- End .product-action-vertical -->
                    <!--<div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div>-->
                    <!-- End .product-action -->
                    <!--</figure>--><!-- End .product-media -->
                    <!--<div class="product-body">
                    <div class="product-cat">
                        <a href="#">Women</a>
                    </div>-->
                    <!-- End .product-cat -->
                    <!--<h3 class="product-title"><a href="product.html">Brown paperbag waist <br>pencil skirt</a></h3>--><!-- End .product-title -->
                    <!--<div class="product-price">
                        $60.00
                    </div>-->
                    <!-- End .product-price -->
                    <!--<div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 20%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--<span class="ratings-text">( 2 Reviews )</span>
                    </div>-->
                    <!-- End .rating-container -->
                    <!--<div class="product-nav product-nav-thumbs">
                        <a href="#" class="active">
                            <img src="assets/images/products/product-4-thumb.jpg" alt="product desc">
                        </a>
                        <a href="#">
                            <img src="assets/images/products/product-4-2-thumb.jpg" alt="product desc">
                        </a>

                        <a href="#">
                            <img src="assets/images/products/product-4-3-thumb.jpg" alt="product desc">
                        </a>
                    </div>-->
                    <!-- End .product-nav -->
                    <!--</div>--><!-- End .product-body -->
                    <!--</div>--><!-- End .product -->
                    <!--<div class="product product-7 text-center">
                    <figure class="product-media">
                        <span class="product-label label-out">Out of Stock</span>
                        <a href="product.html">
                            <img src="assets/images/products/product-6.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div>-->
                    <!-- End .product-action-vertical -->
                    <!--<div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div>-->
                    <!-- End .product-action -->
                    <!--</figure>--><!-- End .product-media -->
                    <!--<div class="product-body">
                    <div class="product-cat">
                        <a href="#">Jackets</a>
                    </div>-->
                    <!-- End .product-cat -->
                    <!--<h3 class="product-title"><a href="product.html">Khaki utility boiler jumpsuit</a></h3>--><!-- End .product-title -->
                    <!--<div class="product-price">
                        <span class="out-price">$120.00</span>
                    </div>-->
                    <!-- End .product-price -->
                    <!--<div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 80%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--<span class="ratings-text">( 6 Reviews )</span>
                    </div>-->
                    <!-- End .rating-container -->
                    <!--</div>--><!-- End .product-body -->
                    <!--</div>--><!-- End .product -->
                    <!--<div class="product product-7 text-center">
                    <figure class="product-media">
                        <span class="product-label label-top">Top</span>
                        <a href="product.html">
                            <img src="assets/images/products/product-11.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div>-->
                    <!-- End .product-action-vertical -->
                    <!--<div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div>-->
                    <!-- End .product-action -->
                    <!--</figure>--><!-- End .product-media -->
                    <!--<div class="product-body">
                    <div class="product-cat">
                        <a href="#">Shoes</a>
                    </div>-->
                    <!-- End .product-cat -->
                    <!--<h3 class="product-title"><a href="product.html">Light brown studded Wide fit wedges</a></h3>--><!-- End .product-title -->
                    <!--<div class="product-price">
                        $110.00
                    </div>-->
                    <!-- End .product-price -->
                    <!--<div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 80%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--<span class="ratings-text">( 1 Reviews )</span>
                    </div>-->
                    <!-- End .rating-container -->
                    <!--<div class="product-nav product-nav-thumbs">
                        <a href="#" class="active">
                            <img src="/assets/images/products/product-11-thumb.jpg" alt="product desc">
                        </a>
                        <a href="#">
                            <img src="/assets/images/products/product-11-2-thumb.jpg" alt="product desc">
                        </a>

                        <a href="#">
                            <img src="assets/images/products/product-11-3-thumb.jpg" alt="product desc">
                        </a>
                    </div>-->
                    <!-- End .product-nav -->
                    <!--</div>--><!-- End .product-body -->
                    <!--</div>--><!-- End .product -->
                    <!--<div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="product.html">
                            <img src="assets/images/products/product-10.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div>-->
                    <!-- End .product-action-vertical -->
                    <!--<div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div>-->
                    <!-- End .product-action -->
                    <!--</figure>--><!-- End .product-media -->
                    <!--<div class="product-body">
                    <div class="product-cat">
                        <a href="#">Jumpers</a>
                    </div>-->
                    <!-- End .product-cat -->
                    <!--<h3 class="product-title"><a href="product.html">Yellow button front tea top</a></h3>--><!-- End .product-title -->
                    <!--<div class="product-price">
                        $56.00
                    </div>-->
                    <!-- End .product-price -->
                    <!--<div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 0%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--<span class="ratings-text">( 0 Reviews )</span>
                    </div>-->
                    <!-- End .rating-container -->
                    <!--</div>--><!-- End .product-body -->
                    <!--</div>--><!-- End .product -->
                    <!--<div class="product product-7 text-center">
                    <figure class="product-media">
                        <a href="product.html">
                            <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div>-->
                    <!-- End .product-action-vertical -->
                    <!--<div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div>-->
                    <!-- End .product-action -->
                    <!--</figure>--><!-- End .product-media -->
                    <!--<div class="product-body">
                    <div class="product-cat">
                        <a href="#">Jeans</a>
                    </div>-->
                    <!-- End .product-cat -->
                    <!--<h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3>--><!-- End .product-title -->
                    <!--<div class="product-price">
                        $76.00
                    </div>-->
                    <!-- End .product-price -->
                    <!--<div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 20%;"></div>-->
                    <!-- End .ratings-val -->
                    <!--</div>--><!-- End .ratings -->
                    <!--<span class="ratings-text">( 2 Reviews )</span>
                    </div>-->
                    <!-- End .rating-container -->
                    <!--</div>--><!-- End .product-body -->
                    <!--</div>--><!-- End .product -->
                    <!--</div>--><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </form>
    </main><!-- End .main -->




    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script>

        $(document).ready(function () {
            // Event listener for form submission
            $('.btn-order').on('click', function (e) {
                e.preventDefault(); // Prevent form submission

                // Get form data
                var reviewerName = $('input[name="ReviewerName"]').val();
                var reviewSubject = $('input[name="ReviewSubject"]').val();
                var reviewText = $('input[name="ReviewText"]').val();
                var ratings = $('input[name="Ratings"]:checked').val();
                var productId = $('input[name="ProductId"]').val();
                // Create data object to send in AJAX request
                var data = {
                    ReviewerName: reviewerName,
                    ReviewSubject: reviewSubject,
                    ReviewText: reviewText,
                    Ratings: ratings,
                    ProductId:productId
                };

                // Send AJAX request
                $.ajax({
                    url: '/Products/AddReview/', // URL to the action endpoint
                    type: 'post',
                    data: data,
                    success: function (response) {
                        // Handle success response
                        console.log('Form submitted successfully!', response);
                        location.reload();
                        // You can perform additional actions here, such as displaying a success message or redirecting
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Handle error response
                        console.error('Form submission failed!', textStatus, errorThrown);
                        // You can display an error message or perform other error handling actions here
                    }
                });
            });
        });

    </script>